/* Common styles for both mobile and desktop */
.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('https://www.dropbox.com/scl/fi/xzshbhkk3cl0l2yncrnj4/matthieu-comoy-koo_vYrlU_U-unsplash.jpg?rlkey=cductx3hvpsa188pqupi61loo&raw=1');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 90%; /* Adjust as needed */
  max-width: 500px; /* Max width for desktop */
  margin: 0 auto; /* Center the card horizontally */
}

.login-image {
  width: 150px;
  height: 250px;
  object-fit: cover;
  align-self: center; /* Center the image within the card */
}

.login-form {
  padding: 20px;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #f77fbe;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #f19cbb;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .login-card {
    width: 90%; /* Adjust as needed */
    max-width: 90%; /* Reduce max width for mobile */
  }

  .login-image {
    width: 100px; /* Reduce image size for mobile */
    height: 150px;
  }
}
